cocos2d/
proj.android/
proj.ios_mac/
proj.win32/
proj.linux/
Classes/reader/
.cocos-project.json
CMakeLists.txt
.DS_Store
proj.android-studio/.idea/caches/build_file_checksums.ser
proj.android-studio/app/abyss.iml
proj.android-studio/.idea/codeStyles/Project.xml
proj.android-studio/.idea/gradle.xml
proj.android-studio/.idea/misc.xml
proj.android-studio/.idea/modules.xml
proj.android-studio/.idea/runConfigurations.xml
proj.android-studio/app/jni/hellocpp/main.cpp
proj.android-studio/app/proguard-rules.pro
proj.android-studio/app/res/mipmap-hdpi/ic_launcher.png
proj.android-studio/app/res/mipmap-mdpi/ic_launcher.png
proj.android-studio/app/res/mipmap-xhdpi/ic_launcher.png
proj.android-studio/app/res/mipmap-xxhdpi/ic_launcher.png
proj.android-studio/app/res/values/strings.xml
proj.android-studio/app/src/org/cocos2dx/cpp/AppActivity.java
proj.android-studio/gradle/wrapper/gradle-wrapper.jar
proj.android-studio/gradle/wrapper/gradle-wrapper.properties
proj.android-studio/gradlew
proj.android-studio/gradlew.bat
proj.android-studio/proj.android-studio.iml
proj.android-studio/settings.gradle
