<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomber_run0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{21,0},{26,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{27,53},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,25}</string>
                <key>spriteSourceSize</key>
                <string>{22,25}</string>
                <key>textureRect</key>
                <string>{{51,53},{22,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{47,0},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{70,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{25,24}</string>
                <key>textureRect</key>
                <string>{{94,0},{25,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{26,22}</string>
                <key>textureRect</key>
                <string>{{0,27},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{26,27},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{53,27},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{83,27},{33,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomber_run9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,24}</string>
                <key>spriteSourceSize</key>
                <string>{27,24}</string>
                <key>textureRect</key>
                <string>{{0,53},{27,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide_loop0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,26}</string>
                <key>spriteSourceSize</key>
                <string>{47,26}</string>
                <key>textureRect</key>
                <string>{{73,53},{47,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide_loop1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{0,79},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide_start0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{44,79},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide_start1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{69,79},{44,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide_start2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,26}</string>
                <key>spriteSourceSize</key>
                <string>{36,26}</string>
                <key>textureRect</key>
                <string>{{0,110},{36,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide_start3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,30}</string>
                <key>spriteSourceSize</key>
                <string>{36,30}</string>
                <key>textureRect</key>
                <string>{{36,110},{36,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide_start4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,27}</string>
                <key>spriteSourceSize</key>
                <string>{46,27}</string>
                <key>textureRect</key>
                <string>{{72,110},{46,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cute_phsyco.png</string>
            <key>size</key>
            <string>{120,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb6421ea9e0ef4688b389f7c64a02d2d:0fea07de251a332d04ce019155cd62d9:7de234b523e0a6943c9abb82bb755405$</string>
            <key>textureFileName</key>
            <string>cute_phsyco.png</string>
        </dict>
    </dict>
</plist>
