<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,70}</string>
                <key>spriteSourceSize</key>
                <string>{75,70}</string>
                <key>textureRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{83,64}</string>
                <key>textureRect</key>
                <string>{{0,70},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{0,657},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,87}</string>
                <key>spriteSourceSize</key>
                <string>{74,87}</string>
                <key>textureRect</key>
                <string>{{0,716},{74,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,63}</string>
                <key>spriteSourceSize</key>
                <string>{79,63}</string>
                <key>textureRect</key>
                <string>{{0,134},{79,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,66}</string>
                <key>spriteSourceSize</key>
                <string>{103,66}</string>
                <key>textureRect</key>
                <string>{{0,197},{103,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,66}</string>
                <key>textureRect</key>
                <string>{{0,263},{96,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{94,66}</string>
                <key>textureRect</key>
                <string>{{0,329},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,69}</string>
                <key>spriteSourceSize</key>
                <string>{100,69}</string>
                <key>textureRect</key>
                <string>{{0,395},{100,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,69}</string>
                <key>spriteSourceSize</key>
                <string>{97,69}</string>
                <key>textureRect</key>
                <string>{{0,464},{97,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,63}</string>
                <key>spriteSourceSize</key>
                <string>{85,63}</string>
                <key>textureRect</key>
                <string>{{0,533},{85,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dead9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,61}</string>
                <key>spriteSourceSize</key>
                <string>{70,61}</string>
                <key>textureRect</key>
                <string>{{0,596},{70,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerDead.png</string>
            <key>size</key>
            <string>{103,803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35df65462cca5c8e3ec4cec7e24fef5a:922802a9d6ef07bbab7d1317470fd155:df924a7ff1854a8e2877a8b35a84ed20$</string>
            <key>textureFileName</key>
            <string>playerDead.png</string>
        </dict>
    </dict>
</plist>
