<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_attack0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,30}</string>
                <key>spriteSourceSize</key>
                <string>{18,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{18,0},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,30}</string>
                <key>spriteSourceSize</key>
                <string>{15,30}</string>
                <key>textureRect</key>
                <string>{{33,0},{15,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{48,0},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{73,0},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_dead0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{98,0},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_dead1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{116,0},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_dead2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,31}</string>
                <key>spriteSourceSize</key>
                <string>{31,31}</string>
                <key>textureRect</key>
                <string>{{136,0},{31,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_dead3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{167,0},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_dead4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{198,0},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,31}</string>
                <key>spriteSourceSize</key>
                <string>{20,31}</string>
                <key>textureRect</key>
                <string>{{229,0},{20,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,32}</string>
                <key>spriteSourceSize</key>
                <string>{18,32}</string>
                <key>textureRect</key>
                <string>{{249,0},{18,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,32}</string>
                <key>spriteSourceSize</key>
                <string>{21,32}</string>
                <key>textureRect</key>
                <string>{{267,0},{21,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat_walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,32}</string>
                <key>spriteSourceSize</key>
                <string>{19,32}</string>
                <key>textureRect</key>
                <string>{{288,0},{19,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cat.png</string>
            <key>size</key>
            <string>{307,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4f6069034d40d8a8fe500ff5fa6c463:946104dc7f39b1632622aaa7c32716ad:fcaa38ab3073044ae7fc86ca051af0c0$</string>
            <key>textureFileName</key>
            <string>cat.png</string>
        </dict>
    </dict>
</plist>
