<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cactus0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,111}</string>
                <key>spriteSourceSize</key>
                <string>{138,111}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,110}</string>
                <key>spriteSourceSize</key>
                <string>{135,110}</string>
                <key>textureRect</key>
                <string>{{138,0},{135,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,106}</string>
                <key>spriteSourceSize</key>
                <string>{137,106}</string>
                <key>textureRect</key>
                <string>{{273,0},{137,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,110}</string>
                <key>spriteSourceSize</key>
                <string>{136,110}</string>
                <key>textureRect</key>
                <string>{{410,0},{136,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,110}</string>
                <key>spriteSourceSize</key>
                <string>{138,110}</string>
                <key>textureRect</key>
                <string>{{546,0},{138,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Cactus.png</string>
            <key>size</key>
            <string>{684,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa8e209304812f4098e068ad0acf2b3:8ab1e9c8e0cd62fb41364d13261742f2:2663519e4e2ac2f96fbf5cbd74870cc8$</string>
            <key>textureFileName</key>
            <string>Cactus.png</string>
        </dict>
    </dict>
</plist>
